@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #001011;
    background-color: #ffffff;
}

h1, h2, h3 {
    font-family: Anton, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    color: #9b1d20;
}

h2 {
    color: #001011;
}

#logo {
    text-align: center;
    font-size: 320%;
    margin-top: 5px;
}

header a {
    text-decoration: none;
}