@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #001011;
    background-color: #ffffff;
}

p {
    letter-spacing: 2px;
}

h1, h2, h3 {
    font-family: Anton, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    color: #9b1d20;
}

h2 {
    color: #001011;
}

#logo {
    text-align: center;
    font-size: 320%;
    margin-top: 5px;
}

header a {
    text-decoration: none;
}

/* navigation bar */

#menu-bar {
    text-align: center;
    font-size: 120%;
    letter-spacing: 2px;
}

#menu-bar, #logo {
    line-height: 60px;
}

#menu-bar li {
    list-style-type: none;
    display: inline;
    margin: 25px;
}

#menu-bar a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

#menu-bar a:hover {
    color: #818d92;
    transition: 0.2s;
}

.active {
    border-bottom: 2px solid #9b1d20;
}

/* main image */

#main-image-outer {
    height: 550px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 550px;
    width: 100%;
    background: url('../images/warsaw-uprising-img.jpeg');
}

/* main quote */

#main-quote span {
    display: block;
}

#main-quote {
    margin: 0 auto;
    height: 150px;
    width: 65%;
}

#main-quote h2 {
    margin-top: 5px;
    text-align: center;
    font-size: 175%;
}

#main-quote p {
    float: right;
    margin-top: 7px;
    font-size: 120%;
    margin-bottom: 50px;
}

#main-quote i {
    color: #9b1d20;
}

/* story summary */

#summary {
    clear: both;
    margin: 0 auto;
    text-align: justify;
    width: 65%;
    height: 800px;
    margin-bottom: 50px;
}

#summary h2 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    font-size: 200%;
    text-decoration: 2px underline solid #9b1d20;
    width: 65%;
}

#summary p {
    font-size: 110%;
    margin-bottom: 15px;
}