@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #001011;
    background-color: #ffffff;
}

p {
    letter-spacing: 2px;
    font-size: 110%;
}

h1, h2, h3 {
    font-family: Anton, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    color: #9b1d20;
}

h2 {
    color: #001011;
}

#logo {
    text-align: center;
    font-size: 320%;
    margin-top: 5px;
}

header a {
    text-decoration: none;
}

/* navigation bar */

#menu-bar {
    text-align: center;
    font-size: 120%;
    letter-spacing: 2px;
}

#menu-bar, #logo {
    line-height: 60px;
}

#menu-bar li {
    list-style-type: none;
    display: inline;
    margin: 25px;
}

#menu-bar a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

#menu-bar a:hover {
    color: #818d92;
    transition: 0.2s;
}

.active {
    border-bottom: 2px solid #9b1d20;
}

/* main image */

#main-image-outer {
    height: 550px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 550px;
    width: 100%;
    background: url('../images/warsaw-uprising-img.jpeg');
}

/* main quote */

#main-quote span {
    display: block;
}

#main-quote {
    margin: 0 auto;
    height: 150px;
    width: 65%;
}

#main-quote h2 {
    margin-top: 5px;
    text-align: center;
    font-size: 175%;
}

#main-quote p {
    float: right;
    margin-top: 7px;
    font-size: 120%;
    margin-bottom: 50px;
}

#main-quote i {
    color: #9b1d20;
}

/* story summary */

#summary {
    clear: both;
    margin: 0 auto;
    text-align: justify;
    width: 65%;
    height: 800px;
    margin-bottom: 50px;
}

#summary h2 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    font-size: 200%;
    text-decoration: 2px underline solid #9b1d20;
    width: 65%;
}

#summary p {
    font-size: 110%;
    margin-bottom: 15px;
}

/* quotes */

#quotes {
    height: 800px;
}

#quotes h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 200%;
    text-decoration: 2px underline solid #9b1d20;
}

.left-quotes, .right-quotes {
    background-color: #818d92;
    width: 60%;
    padding: 5px;
    clear: both;
    margin-bottom: 70px;
    padding-right: 10px;
    letter-spacing: 2px;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.left-quotes {
    float: left;
    border-radius: 0 10px 10px 0;
}

.right-quotes {
    float: right;
    border-radius: 10px 0 0 10px;
}

#quotes h3 {
    font-size: 110%;
}

#quotes p {
    float: right;
    margin-top: 15px;
    font-size: 95%;
}

#quotes i {
    color: #9b1d20;
}

/* footer */

#footer {
    margin: 0 auto;
    height: 70px;
    text-align: center;
}

#footer > a {
    font-size: 110%;
    text-decoration: none;
    letter-spacing: 2px;
    color: #001011;
    transition: 0.2s;
}

#footer > a:hover {
    border-bottom: 2px solid #9b1d20;
    transition: 0.2s;
}

#social-media {
    margin: 0 auto;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#social-media i {
    padding: 40px 30px 10px 30px;
    font-size: 150%;
    color: #001011;
}

#timeline {
    height: 1100px;
    margin: 0 auto;
    width: 65%;
    text-align: justify;
    margin-top: 20px;
}

#timeline h2 {
    text-align: center;
    text-decoration: 2px underline solid #9b1d20;
    font-size: 180%;
    margin: 20px 0 30px;
}

#timeline h3 {
    font-size: 140%;
    margin-top: 20px;
}

#timeline p {
    margin-top: 5px;
}

/* discover */

#map-container {
    margin: 0 auto;
    text-align: center;
    height: 850px;
}

#map-container h2 {
    text-decoration: 2px underline solid #9b1d20;
    font-size: 180%;
    margin-top: 20px; 
}

#museum-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#museum-info h3 {
    text-decoration: 2px underline solid #9b1d20;
    margin-bottom: 8px;
}

#map-container div {
    padding: 30px 60px;
}

#map {
    width: 65%;
    height: 500px;
    border: 2px solid #9b1d20;
}

/* form */

#subscribe {
    text-align: center;
    height: 800px;
}

#subscribe h2 {
    font-size: 180%;
    margin: 20px 0 25px;
    text-decoration: 2px underline solid #9b1d20;
}

#container {
    margin: 0 auto;
    width: 65%;
    border: 2px solid #9b1d20;
    background-color: #818d92;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
}

input[type=text], input[type=email] {
    width: 95%;
    border: 1px solid #001011;
    text-align: center;
    padding: 10px;
    margin: 15px 0 15px;
    border-radius: 5px;
}

input[type=submit] {
    background-color: #818d92;
    border: 1px solid #001011;
    font-size: 120%;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    letter-spacing: 2px;
    font-family: Roboto, sans-serif;
    transition: 0.3s;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #9b1d20;
    transition: 0.3s;
}

input[type=submit]:active {
    background-color: #001011;
    color: #9b1d20;
    transition: 0.3s;
}

/* videos */

#videos {
    margin: 0 auto;
    width: 65%;
    text-align: center;
    height: 1650px;
}

#videos h2 {
    font-size: 180%;
    margin-top: 20px;
    text-decoration: 2px underline solid #9b1d20;
    margin-bottom: 40px;
}

.yt-video {
    width: 90%;
    height: 420px;
    margin-top: 40px;
}

/* photos */

#photos > h2 {
    text-align: center;
    font-size: 180%;
    margin: 20px 0 30px;
    text-decoration: 2px underline solid #9b1d20;
}

#photos > div {
    margin: 0 auto;
    width: 65%;
    clear: both;
    line-height: 0;
    column-count: 2;
}

#photos img {
    width: 100%;
    margin: 5px;
}

/* error page */

#error-msg {
    text-align: center;
    margin-top: 30px;
    font-size: 180%;
}

/* media queries */

@media screen and (min-width: 280px) {
    #main-quote {
        width: 90%;
    }

    #main-quote > div {
        text-align: center;
    }

    #summary {
        width: 90%;
        text-align: center;
        height: auto;
    }

    #quotes {
        height: auto;
    }

    #quotes > h2 {
        text-align: center;
    }

    .right-quotes, .left-quotes {
        float: none;
        clear: both;
        margin: 0 auto;
        text-align: center;
        border-radius: 12px;
    }

    #quotes p {
        margin: 27px 0 50px;
    }

    #footer {
        clear: both;
    }

    #timeline {
        text-align: center;
        width: 90%;
        height: auto;
        margin-bottom: 30px;
    }

    #photos > div {
        column-count: 1;
        width: 90%;
        margin-bottom: 30px;
    }

    #videos {
        width: 90%;
        margin-bottom: 50px;
        height: auto;
    }

    .yt-video {
        width: 100%;
        height: 200px;
    }

    #map-container {
        width: 90%;
        height: auto;
    }

    #museum-info {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    #map {
        width: 100%;
        height: 500px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 280px) {

}